<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DevEnv(iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Lily(iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lily(macOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lily-xcframework-dev.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lily-xcframework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LilySwift(iOS)Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LilySwift(macOS)Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D2605A4236FF5890078B63A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D5EF90225D4234600EA86CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D679ABF278394DA00DF430C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8F3B7B235B946B00BB9805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DACF118235C958C001143BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DB7A51B239E50CA0050A9B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DB7A52A239E51780050A9B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DCE3F2125BDA70E00CBA004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
