.DS_Store

html/

build/
_build/
_devbuild/
_xcdevbuild/
_xcarchivebuild/
_lib/
_app/

libLily*.a
libLily*d.a
Lily*.lib
Lily*d.lib
Lily*.framework
Lily*.xcframework
NUL


*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/*
UserInterfaceState.xcuserstate


Projects/apple/Lily/DevEnv/

.swiftpm/
